*/modules.order
*/Module.symvers
*.ko
*.cmd
*.mod
*/stamp-h1
*/stamp-it
*/missing
*/install-sh
*/depcomp
*/configure
*/config-aux/*
*.in
libtool
config.log
config.status
config.h
*/autom4te.cache/*
*.m4
*.deps*
*.o
*~
.project
/gui/src/glkm
/glkmd/src/glkm_daemon
/glkmd/test/glkmd_test_client
